.relatorios-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap; /* permite quebrar linha se a tela for pequena */
}

.relatorio-card {
  background: #1e3a8a;
  color: #fff;
  border-radius: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  width: 180px;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.relatorio-card:hover {
  transform: translateY(-10px) scale(1.03); /* 👈 sobe 10px */
  box-shadow: 0 8px 20px rgba(0,0,0,0.2); /* sombra mais forte */
}

.relatorio-card-van img {
  width: 124px;   /* tamanho fixo para todos os ícones */
  height: 64px;
  object-fit: contain;
  margin-bottom: -20px;
  margin-top: -30px;
}

.relatorio-card img {
  width: 124px;   /* tamanho fixo para todos os ícones */
  height: 64px;
  object-fit: contain;
  margin-bottom: -20px;
  margin-top: -30px;
}

.descricao {
  font-size: 14px;
  font-weight: 400;
  margin-top: -10px;
  line-height: 1.4;
}